In [3]:
import pandas as pd 
dataframe=pd.DataFrame()
dataframe['Name']=['lemon','lime','banana']
dataframe['price']=[5,6,7]
dataframe['lisence']=[False, True, True]
dataframe

     Name  price  lisence
0   lemon      5    False
1    lime      6     True
2  banana      7     True

In [4]:
dataframe.shape

(3, 3)

In [7]:
df=dataframe

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   price    3 non-null      int64
 2   lisence  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [13]:
list(df.columns)

['Name', 'price', 'lisence']

In [14]:
df.describe()

       price
count    3.0
mean     6.0
std      1.0
min      5.0
25%      5.5
50%      6.0
75%      6.5
max      7.0

In [16]:
df.loc[(df.price == 5)]

    Name  price  lisence
0  lemon      5    False

In [17]:
df.loc[(df.price == 5) |(df.Name == 'banana') ]

     Name  price  lisence
0   lemon      5    False
2  banana      7     True

In [18]:
df.loc[(df.price == 5) |(df.Name == 'banana'), ('Name','price') ]

     Name  price
0   lemon      5
2  banana      7

In [22]:
df.loc[(df.price ==5) | (df.Name =='lemon'), ('Name')]

0    lemon
Name: Name, dtype: object

In [24]:
df.iloc[0:2]

    Name  price  lisence
0  lemon      5    False
1   lime      6     True

In [25]:
df.iloc[0:2,0:-1]

    Name  price
0  lemon      5
1   lime      6

In [26]:
df.iloc[0:2,-1]

0    False
1     True
Name: lisence, dtype: bool

In [28]:
sum=df.price.sum()
sum

18

In [30]:
new=pd.Series(['orange',10,True], index=['Name','price', 'license'])
df.append(new, ignore_index=True)

     Name  price  lisence  license
0   lemon      5      0.0      NaN
1    lime      6      1.0      NaN
2  banana      7      1.0      NaN
3  orange     10      NaN      1.0

In [31]:
dataframe['location']=['USA','VN','SIN']
df

     Name  price  lisence location
0   lemon      5    False      USA
1    lime      6     True       VN
2  banana      7     True      SIN

In [34]:
#delete a column
dataframe.drop(1, axis=0).head()

     Name  price  lisence location
0   lemon      5    False      USA
2  banana      7     True      SIN

In [36]:
dataframe.drop('location', axis=1).head()

     Name  price  lisence
0   lemon      5    False
1    lime      6     True
2  banana      7     True

In [38]:
dataframe['price'].replace(5,7).head(5)

0    7
1    6
2    7
Name: price, dtype: int64

In [39]:
df.rename(columns={'price':'Cost'}).head(3)

     Name  Cost  lisence location
0   lemon     5    False      USA
1    lime     6     True       VN
2  banana     7     True      SIN

In [44]:
url='/medals.csv'

In [45]:
dataframe=pd.read_csv(url)

In [47]:
dataframe

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [48]:
dataframe.shape

(2311, 8)

In [51]:
dataframe['Year'].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006])

In [53]:
dataframe.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [56]:
dataframe[(dataframe['Year']>=1990)&(dataframe['Year']<=2006) & (dataframe['NOC']=='USA')&(dataframe['Event gender']=='W')&(dataframe['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1430,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
1431,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
1432,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
1436,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
1610,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
1612,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
1613,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
1617,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
1812,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [58]:
dataframe['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [60]:
dataframe.count()

Year            2311
City            2311
Sport           2311
Discipline      2311
NOC             2311
Event           2311
Event gender    2311
Medal           2311
dtype: int64